<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MyBlob UploadServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlob DownloadServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlob InitServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlob DeleteServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.DeleteAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTaskServlet</servlet-name>
        <servlet-class>benchmark.NewTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table InitServlet</servlet-name>
        <servlet-class>benchmark.storage.table.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table GetServlet</servlet-name>
        <servlet-class>benchmark.storage.table.GetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table PutServlet</servlet-name>
        <servlet-class>benchmark.storage.table.PutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table QueryServlet</servlet-name>
        <servlet-class>benchmark.storage.table.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table DelServlet</servlet-name>
        <servlet-class>benchmark.storage.table.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table DeleteServlet</servlet-name>
        <servlet-class>benchmark.storage.table.DeleteAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyBlob UploadServlet</servlet-name>
        <url-pattern>/myblob/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlob DownloadServlet</servlet-name>
        <url-pattern>/myblob/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlob InitServlet</servlet-name>
        <url-pattern>/myblob/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlob DeleteServlet</servlet-name>
        <url-pattern>/myblob/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTaskServlet</servlet-name>
        <url-pattern>/newtask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table InitServlet</servlet-name>
        <url-pattern>/table/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table GetServlet</servlet-name>
        <url-pattern>/table/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table PutServlet</servlet-name>
        <url-pattern>/table/put</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table QueryServlet</servlet-name>
        <url-pattern>/table/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table DelServlet</servlet-name>
        <url-pattern>/table/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table DeleteServlet</servlet-name>
        <url-pattern>/table/delete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
