<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MyBlob UploadServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlob DownloadServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlob InitServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyBlob DeleteServlet</servlet-name>
        <servlet-class>benchmark.storage.myblob.DeleteAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTaskServlet</servlet-name>
        <servlet-class>benchmark.NewTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Small InitServlet</servlet-name>
        <servlet-class>benchmark.storage.table.small.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Small GetServlet</servlet-name>
        <servlet-class>benchmark.storage.table.small.GetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Small PutServlet</servlet-name>
        <servlet-class>benchmark.storage.table.small.PutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Small QueryServlet</servlet-name>
        <servlet-class>benchmark.storage.table.small.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Small DelServlet</servlet-name>
        <servlet-class>benchmark.storage.table.small.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Small DeleteServlet</servlet-name>
        <servlet-class>benchmark.storage.table.small.DeleteAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium InitServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.InitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium GetServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.GetServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium PutServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.PutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium QueryServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.QueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium DelServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium DeleteServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.DeleteAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table Medium QueryLongServlet</servlet-name>
        <servlet-class>benchmark.storage.table.medium.QueryLongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyBlob UploadServlet</servlet-name>
        <url-pattern>/myblob/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlob DownloadServlet</servlet-name>
        <url-pattern>/myblob/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlob InitServlet</servlet-name>
        <url-pattern>/myblob/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyBlob DeleteServlet</servlet-name>
        <url-pattern>/myblob/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTaskServlet</servlet-name>
        <url-pattern>/newtask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Small InitServlet</servlet-name>
        <url-pattern>/table/small/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Small GetServlet</servlet-name>
        <url-pattern>/table/small/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Small PutServlet</servlet-name>
        <url-pattern>/table/small/put</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Small QueryServlet</servlet-name>
        <url-pattern>/table/small/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Small DelServlet</servlet-name>
        <url-pattern>/table/small/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Small DeleteServlet</servlet-name>
        <url-pattern>/table/small/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium InitServlet</servlet-name>
        <url-pattern>/table/medium/init</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium GetServlet</servlet-name>
        <url-pattern>/table/medium/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium PutServlet</servlet-name>
        <url-pattern>/table/medium/put</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium QueryServlet</servlet-name>
        <url-pattern>/table/medium/query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium DelServlet</servlet-name>
        <url-pattern>/table/medium/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium DeleteServlet</servlet-name>
        <url-pattern>/table/medium/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table Medium QueryLongServlet</servlet-name>
        <url-pattern>/table/medium/queryl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
